.senha{
    font-size: 36px;
}

.nome{
    font-size: 26px;
}

.card{
    flex: 1; 
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin: 0 2% 0;
    padding: 0 2% 0;
}

.mais-informacoes{
    width: 100%;
    border-radius: 0.2em;
}